<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Portfolio | Jeff Eiden" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery_ujs" %>
    <%= javascript_include_tag "home" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <%= content_for :page_js %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
